{% extends 'base.html' %}
{% block title %}
Create A Recipe - Scrumptious Recipe
{% endblock title %}

{% block content %}

<form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button>Create</button>
</from>
{% endblock content %}
