{% extends 'base.html' %}
{% block title %}
Edit A Recipe - Scrumptious Recipe
{% endblock title %}

{% block content %}
    <form method="post">
      {% csrf_token %}
      {{ recipe_form.as_p }}
      <button>Edit</button>
    </form>
{% endblock content %}
