{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
<h1>Scrumptious Recipes</h1>
<h2>All the food that's fit to eat</h2>
<div class=" recipe-grid">
    {% for banana in recipe_list %}
    <div>
        <h3>
            <a href="{% url 'show_recipe' banana.id %}">{{ banana.title }}</a>
        </h3>
        <img alt={{ banana.description }} src="{{ 'https://via.placeholder.com/150' }}">
        <p> {{ banana.created_on|date:"j F, Y"}}</p>
        <div>4.3 stars</div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
