{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>

    <body>
        <header>
            <nav>
                <a href="{% url 'list_recipes' %}">Main page</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                {% if user.is_authenticated %}
                 Hello, {{ user.username }}
                 <a href="{% url 'logout' %}">Logout</a>
                 {% else %}
                    <a href="{% url 'signup' %}">Sign up</a>
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            Made with love by Scrumptious Recipes
        </footer>
    </body>

</html>
